.taskDiv {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  padding: 10px 0 6px 12px;
  margin-bottom: 6px;
  width: 90%;
  cursor: pointer;
}
.modal-dialog {
  max-width: 980px;
}

.taskDiv:hover{
  background-color: rgb(216, 216, 216);
}
/*
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(222, 222, 222, 1) 27%,
    rgba(215, 215, 215, 1) 58%,
    rgba(214, 214, 214, 1) 69%,
    rgba(223, 223, 223, 1) 84%,
    rgba(226, 225, 225, 1) 100%
  );
*/