body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinnerMid{
  text-align: center;
  height: 80px;
  width: 80px;

}
.centerDiv {
  width: 100%;
}
.centarize{
  height: 80px;
  width: 80px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}